body{
	text-align: center;
	background-image: url("/static/bg1.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
h1{
	font-family: sans-serif;
	color: #bad5dd;
}
.title{
	margin-top: 20px;
}
input[type="radio"]{
	display: none;
}
.box{
	background-color: #ddffbc;
	height: 300px;
	width: 400px;
	padding: 30px;
	color: white;
	text-align:center;
	font-size: 40px;
	font-family: sans-serif;
	line-height: 220px;
	margin: 10px 10px;
	border: 2px solid #52734d;
	border-radius: 10%;
	background-image: url("/static/bg2.jpg");
	background-position: center;
	
}
.box:hover{
	background-color: #91c788;
	transition-duration: 1s;
	background-image: url("/static/tick.jpg");
	opacity: 0.5;
}
input[type=radio]:checked + .box{
	background-color: #52734d;
	color: rgb(194, 123, 16);
	background-image: url("/static/tick.jpg");
	opacity: 0.5;
	transition-duration: 1s;
}
.btn{
	width: 300px;
	height: 60px;
	}

img{
	margin-top: 50px;
	height: 400px;
	border : 2px solid green;
	border-radius: 30px;
}